header {
    height: 626px;
    width: 100%;
}

.hero-bg-wrapper {
    width: 100vw;
    height: 626px;
    overflow-x: hidden;
    position: relative;
}
.hero-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.hero-bg img {
    position: absolute;
    height: 650;
    bottom: 0;
}

.hero-bg :first-child{
    width: 2560px;
}

.hero-bg :nth-child(2){
    display: block;
    left: 0;
    transform: scale(.7);
    margin-left: -120px;
    margin-bottom: -50px;
}

.hero-bg :nth-child(3){
    display: none;
    right: 0;
    margin-right: -320px;
}

.sparkle-img {
    width: 531px;
    margin-bottom: -1rem;
}

.h4, h4 {
    font-size: clamp(2rem, 2vw, 3rem) !important; 
    font-weight: 900 !important;
}

/* Extra small devices (portrait phones, less than 576px) */
/*  No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .hero-bg :nth-child(2){
        display: none;
        left: 0;
        padding-right: 2220px;
        margin-left: -320px;
    }
    
    .hero-bg :nth-child(3){
        display: block;
        /* max-width: 5rem; */
        right: 0;
        margin-right: -160px;
    }


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .hero-bg :nth-child(2){
        display: block;
        transform: scale(1);
        left: 0;
        bottom: 50px;
        padding-right: 2220px;
        margin-left: -320px;
    }
    
    .hero-bg :nth-child(3){
        display: block;
        right: 0;
        margin-right: -320px;
    }
    .hero-content{
        text-align: center;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .hero-bg :nth-child(2){
        left: 0;
        padding-right: 2220px;
        margin-left: -320px;
    }
    
    .hero-bg :nth-child(3){
        right: 0;
        margin-right: -320px;
    }
 }

.navbar .navbar-default {
    background-color: var(--brand-color);
    color: #fff;
}

.hero-content{
    position: absolute;
    top: 12vw;
    padding: 0 20%;
    width: 100%;
}

.hero-text div {
    padding-bottom: 2rem;
}

.h1, h1 {
    font-family: 'ABC Ginto Nord', Helvetica, sans-serif;
}

.footer-links div{
    padding-top: 4px;
}