@font-face {
    font-family: ABC Ginto Nord;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/ABCFont.woff2) format("woff2")
}

*{
    box-sizing: border-box;

}
body {
    font-size: clamp(.8rem, calc(.8rem+1vw), 1.2rem) !important;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300 !important;
}

.h1, h1 {
    font-size: clamp(1.8rem, 8vw, 4rem)  !important;
    font-family: 'ABC Ginto Nord', Helvetica, sans-serif;
}

.h3, h3 {
    font-family: 'ABC Ginto Nord', Helvetica, sans-serif;
    font-size: calc(1.6rem + .4vw) !important;
}

h2, h4, h5, h6, div, a, span {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.h2, h2 {
    font-size:  clamp(1.8rem, calc(1rem+2vw), 3rem) !important;
    padding-bottom: 1rem !important;
    font-weight: 900 !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

:root{
    --brand-color:rgb(64, 78, 237);
}

    

body {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav, header {
    background-color:var(--brand-color);
}

.my-section {
    max-width: 1260px;
    margin: 0 auto;
}




